<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDProjet_2_Smon_Alex.Properties.Settings.BD5B6TP2_PorrasGuoConnectionString"
            connectionString="Data Source=sqlinfo.cgodin.qc.ca;Initial Catalog=BD5B6TP2_PorrasGuo;User ID=5B6Porras;Password=Miranda53"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>